body {
  font-family: Arial;
  color: #000;
}

.text_center {
  text-align: center;
}

.bg_grey {
  background-color: #f4f5f9;
}

.bg_yellow {
  background-color: #fff610;
}

.webix_view {
  background-color: transparent;
}

.page_title {
  font-size: 34.666666666666664px;
}

.profile_btn.webix_el_button button,
.profile_btn.webix_el_button .webix_icon_btn  {
  color: #fff;
}

.profile_btn.webix_el_button button:hover,
.profile_btn.webix_el_button button:focus,
.success.webix_el_button button:hover,
.success.webix_el_button button:focus {
  background-color: transparent;
}

.sidebar {
  background-color: #f4f5f9;
}

.success.webix_el_button button {
  color: green;
}

.success.webix_el_button button .webix_icon_btn  {
  color: green;
}

.profile_win,
.webix_list {
  background-color: #fff;
}

.d_flex.webix_column .webix_cell,
.d_flex .webix_list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}